@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  /* fonts */
  --font-main: "Montserrat", sans-serif;
  --font-sub: "Open Sans", sans-serif;
  /* colors */
  --color-blue: #20b3cb;
  --color-black: #0f1012;
  --color-black-75: rgba(15, 16, 18, 0.75);
  --color-black-50: rgba(15, 16, 18, 0.5);
  --color-black-10: rgba(15, 16, 18, 0.1);

  --color-white: #fff;
}
